# Ignorar configurações locais
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/graph.json

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar backups ou temporários
*.bak
*.tmp
